.dashboard {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    margin-top: 20px;
    border-radius: 5px;
    padding: 3em 1.5em;
    font-size: 20px;
}

.dashboard h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

.newCall {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    background-color: #f8f8f8;
    margin-top: 20px;
    border-radius: 5px;
    padding: 1em 1.5em;
    font-size: 20px;
}

.newTicket {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #83bf02;
    border-radius: 7px;
    padding: 10px;
    width: 190px;
}
.newTicket svg {
    margin-right: 6px;
}

.ticket-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    max-height: 900px;
    overflow-y: scroll;
}

table caption {
    margin: 0.5em 0 0.75em;
}
table th {
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
table td {
    font-size: 0.8em;
    font-weight: 300;
}
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.62em;
    text-align: center;
}

table td .action {
    border: 0;
    padding: 10px;
    border-radius: 4px;
    margin-right: 8px;
    align-items: center;
    display: inline-block;
}

table td .action svg {
    vertical-align: middle;
    color: #fff;
}

table td .status {
    padding: 3px;
    border-radius: 3px;
    color: #fff;
}

.more {
    margin: 1em 0;
    padding: 0.3em;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #181c2e;
    color: #fff;
    font-size: 0.7em;
}

.delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.delete-modal h3 {
    margin: 0.6em;
}

.buttons button {
    text-align: center;
    font-weight: 600;
    border: 0;
    border-radius: 6px;
    height: 2.5em;
    padding: 0.7em;
    margin: 0.6em;
}

.delete-confirm {
    background-color: #181c2e;
    color: #fff;
}

.delete-cancel {
    background-color: #dfdede;
    color: #181c2e;
}

.details-modal {
    width: 100%;
    flex-direction: column;
    display: flex;
}
.close {
    display: flex;
    justify-content: flex-end;
}
.row {
    margin: 0.5em 0;
}
.row p {
    font-size: 1.5em;
    font-weight: 800;
}
.row span {
    font-size: 0.8em;
    font-weight: 200;
    color: #383838;
}
.details-subject {
    margin-right: 1.5em;
}

.details-box {
    margin-top: 0.4em;
    max-width: 100%;
    border-radius: 3px;
    padding: 1em;
    height: 150px;
    background-color: #f7f7f7;
}
.owner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.owner span {
    margin-right: 7px;
}
.avatarOwner {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 3px #121212);
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip-path: (0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.65em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.7em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
